:root {
  --accent-color: #28a745;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #0284d0;
  --primery-text-color: #333333;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #808080;
  --hero-text-color: #e9e9e9;
  --typical-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
