<section class="callback">
  <h2 class="visually-hidden">callback hide</h2>
  <div class="callback-img"></div>

  <div class="callback__container">
    <h2 class="callback__title">Request Callback</h2>
    <form class="" class="callback-form">
      <div class="callback-form__input-position">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
          class="callback-form__input"
          required
        />
        <input
          type="email"
          name="email"
          id="mail"
          placeholder="Enter email*"
          class="callback-form__input"
          required
        />
      </div>
      <button type="submit" class="callback-form__button">Send</button>
    </form>
  </div>
</section>
