<section class="section-cases-title">
  <h1 class="section-cases">This is what we do</h1>
  <h2 class="section-name">Business Cases</h2>
  <p class="text-cases">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases-list-img list">
    <li class="images">
      <img
        class="work-content"
        src="./images/case1.jpg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case2.jpg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case3.jpg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case4.jpeg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case5.jpg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case6.jpg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case7.jpeg"
        alt="конференция"
        width="320"
      />
    </li>
    <li class="images">
      <img
        class="work-content"
        src="./images/case8.jpg"
        alt="конференция"
        width="320"
      />
    </li>
  </ul>
</section>
