<section class="features">
  <h2>features</h2>
  <ul>
    <li>
      <h3>Investmant Banking</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li>
      <h3>Portfolio Manager</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae!</p>
    </li>
    <li>
      <h3>Tax & Custudio</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti!</p>
    </li>
  </ul>
</section>
