<section class="features container">
  <h2 class="visually-hidden">features</h2>
  <ul class="features__list">
    <li class="features__item">
      <svg class="features__icon" width="35" height="35">
        <use href="/src/images/icons.svg#icon-university"></use>
      </svg>
      <h3 class="features__text">Investmant Banking</h3>
      <p class="features__info">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="features__item">
      <svg class="features__icon" width="35" height="35">
        <use href="/src/images/icons.svg#icon-book-reader"></use>
      </svg>
      <h3 class="features__text">Portfolio Manager</h3>
      <p class="features__info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae!
      </p>
    </li>
    <svg class="features__icon" width="35" height="35">
      <use href="/src/images/icons.svg#icon-pencil"></use>
    </svg>
    <li class="features__item">
      <h3 class="features__text">Tax & Custudio</h3>
      <p class="features__info">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti!
      </p>
    </li>
  </ul>
</section>
