<p class="name">Maksim</p>
<header class="header">
  <a class="page-logo__link link" href="#">FinanceLedger</a>
  <ul class="page-nav list">
    <li class="page-nav__item">
      <a class="page-nav__link link" href="#">Home</a>
    </li>
    <li class="page-nav__item">
      <a class="page-nav__link link" href="#">About</a>
    </li>
    <li class="page-nav__item">
      <a class="page-nav__link link" href="#">Cases</a>
    </li>
    <li class="page-nav__item">
      <a class="page-nav__link link" href="#">Blog</a>
    </li>
    <li class="page-nav__item">
      <a class="page-nav__link link" href="#">Contact</a>
    </li>
  </ul>
</header>
