<section class="hero">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h1 class="hero__title">The Sky Is The Limit</h1>
          <p class="hero__bottom-text">
            We provide world class financial assistance
          </p>
        </div>
        <div class="swiper-slide">
          <h1 class="hero__title">Lorem ipsum dolor sit amet.</h1>
          <p class="hero__bottom-text">
            We provide world class financial assistance
          </p>
        </div>
        <div class="swiper-slide">
          <h1 class="hero__title">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste,
            nostrum.
          </h1>
          <p class="hero__bottom-text">
            We provide world class financial assistance
          </p>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <a href="#" class="hero__link link">
      <span class="hero__icon">
        <svg width="9" height="18">
          <use href="/src/images/icons.svg#icon-arrow"></use>
        </svg> </span
      >Read More</a
    >
  </div>
</section>
