<section class="team team-section">
  <div class="container">
    <p class="upper-text">Who we are</p>
    <h2 class="section-title">Our Professional Team</h2>
    <p class="bottom-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-member">
        <img
          src="/src/images/john.jpg"
          alt="our-team-1"
          width="420"
          height="280"
        />
        <h3 class="member-name">John Doe</h3>
        <p class="member-position">President</p>
        <ul class="network-links list">
          <li>
            <a class="network-icon" href="#" rel="noopener nofollow noreferrer"
              ><svg width="35" height="35">
                <use href="#"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <img
          src="/src/images/jane.jpeg"
          alt="our-team-1"
          width="420"
          height="280"
        />
        <h3 class="member-name">Jane Doe</h3>
        <p class="member-position">Vice President</p>
        <ul class="network-links list">
          <li>
            <a class="network-icon" href="#" rel="noopener nofollow noreferrer"
              ><svg width="35" height="35">
                <use href="#"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <img
          src="/src/images/steve.jpg"
          alt="our-team-1"
          width="420"
          height="280"
        />
        <h3 class="member-name">Steve Smith</h3>
        <p class="member-position">Marketing Head</p>
        <ul class="network-links list">
          <li>
            <a class="network-icon" href="#" rel="noopener nofollow noreferrer"
              ><svg width="35" height="35">
                <use href="#"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
