
.blog-section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-bg-color);
    padding-top: 112px;
    padding-bottom: 113px;
}

.blog-main{
    
}

.blog-text{
    display: block;
}

.blog-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}